@model IEnumerable<Kutip.Models.Customer>

@{
    ViewData["Title"] = "Customer List";
}

<h1>Customer List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.c_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.c_ContactNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.c_Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.c_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.c_ContactNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.c_Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.c_ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.c_ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.c_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
